@import "../utils/mixins";
@import "../utils/fonts";

@import "../utils/vars.scss";


// General
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-general);
}

body {
    background-color: var(--color__odd-bg);
    color: var(--color__heading-text);
}

main {
    max-width: 100vw;
    overflow: hidden;
    scroll-behavior: smooth;
    min-height: 100vh;
}

body > .container {
    background: var(--color__main-bg);
    border: .1rem solid rgba(255, 255, 255, 0.05);
}

@include media-XL {
    body > .container {
        border-radius: 3px;
    }
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: var(--transition);
    
    &::before, &::after {
        transition: var(--transition);
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: 400;
}

button {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

// .text-center {
//     text-align: center;
// }

// .section--light {
//     background-color: #FAF8EE00;
// }

// .line-hr-dashed {
//     border-top: .1rem dashed rgba(255, 255, 255, 0.1);
// }

// .page {
//     &__video-popular {
//         border-bottom: .1rem solid rgba(255, 255, 255, 0.1);
//     }
// }

// @include media-1580 {
//     .page__hide-container-paddings.container--inner {
//         width: 100%;
//     }
// }