// Transition
$transition--general: .3s ease-in-out;

:root {
    --font-general: 'Inter', sans-serif;
    --font-odd: 'Montserrat', sans-serif;

    --transition: .3s ease-in-out;

    // Colors
    --color__accent: #FFCC00;
    --color__accent-hover: #FFCB1E;
    --color__vivid-accent: #FFD447;
    --color__heading-text: #FFF;
    --color__main-bg: #161617;
    --color__odd-bg: #000000;
    --color__main-text: rgba(255, 255, 255, 0.70);
    --color__small-blocks: rgba(255, 255, 255, 0.08);
}