- var copyrightItems = ['Huge Media s.r.o, Domazlicka 1232/3,<br> Prague 13000, Czechia', 'Please visit Epoch | SegPay | Vendo, our authorized sales agents.', '2019 © SIS.PORN, All Rights Reserved. Users are prohibited from posting any material depicting individuals under the age of 18.']

.copyright
    ul.copyright__list
        each item in copyrightItems
            li.copyright__item!= item
        //- End loop
    //- End list