footer.footer
    .footer__container
        include ../general-modules/footer-form
        //- End form
        
        nav.footer__nav
            - var listTitle = 'Terms & conditions'
            - var list = ['2257 documents', 'Privacy policy', 'Terms & conditions', 'DMCA', 'Content Removal']
            - var listParentClass = 'footer__list-item'
            +list(listParentClass, listTitle, list)
            //- End nav list item

            - var listTitle = 'Account & services'
            - var list = ['Affilate program', 'Customer support', 'Producers', 'Lost password', 'Join now', 'Login']
            - var listParentClass = 'footer__list-item'
            +list(listParentClass, listTitle, list)
            //- End nav list item
            
            - var listTitle = 'Follow us'
            - var list = ['Twitter','Telegram', 'Free Access', 'Mature Tube', 'Porn Videos']
            - var listParentClass = 'footer__list-item'
            +list(listParentClass, listTitle, list)
            //- End nav list item
        //- footer__nav
//- End footer