mixin access-pallet(parentClass)
    div(class= parentClass + ' access-pallet')
        .access-pallet__inner
            .access-pallet__title ACCESS DENIED
            .access-pallet__desc You must be a member to access this video
            a.access-pallet__btn.btn.btn--icon.btn--theme_dark(href="/") 
                p Join Now
                +icon('btn-arrow-right')
    //- End inner