.swiper-slide.banner-slide
    picture
        source.banner-slide__img(media="(min-width:1440px)" srcset="/assets/pics/home-slider/1.webp")
        source.banner-slide__img(media="(min-width:1440px)" srcset="/assets/pics/home-slider/1.jpg 1x, /assets/pics/home-slider/1@2x.jpg 2x, /assets/pics/home-slider/1@3x.jpg 3x")
        source.banner-slide__img(srcset="/assets/pics/home-slider/1-mobile.webp")
        img.banner-slide__img(src="/assets/pics/home-slider/1-mobile.jpg", srcset="/pics/home-slider/1-mobile@2x.jpg 2x, /pics/home-slider/1-mobile@3x.jpg 3x", alt="alt")
//- End slide