.swiper-slide.banner-slide
    picture
        source.banner-slide__img(media="(min-width:1440px)" srcset="./assets/images/slider.webp 1x, ./assets/images/slider2x.webp 2x")
        source.banner-slide__img(media="(min-width:1440px)" srcset="./assets/images/slider.jpg 1x, ./assets/images/slider2x.jpg 2x")
        source.banner-slide__img(srcset="./assets/images/mobile_slider.webp 1x, ./assets/images/mobile_slider2x.webp 2x")
        img.banner-slide__img(src="./assets/images/mobile_slider.jpg", srcset="./assets/images/mobile_slider2x.jpg 2x", alt="alt")
//- End slide