//- - var btnParentClass = 'videos-preview__btn'
//- - var btnSize = 'df'
//- - var btnTheme = 'accent'
//- - var btnName = 'Join Now'
//- mixin 

a(class= btnParentClass + ' btn btn--size' + btnSize + ' btn--theme-' + btnTheme, href="/")= btnName