//- - var playerParentClass = 'video-full__player'
//- - var playerAccessDenied = true

div(class = playerParentClass + ' player-block')
    +responsiveImage('player-block__picture', '/assets/pics/hero-video-img', 'jpg')
    //- Picture

    if playerAccessDenied == true
        - var accessPallet__parentClass = 'player-block__access-pallet'
        - var accessPallet__title = 'ACCESS DENIED'
        - var accessPallet__desc = 'You must be a member to access this video'
        - var accessPallet__btnName = 'Join Now'

        include ./access-pallet
    //- Access denied pallet
//- End wrapper