mixin videoRating(parentClass, mods, allStars)
    ul(class= parentClass + ' ' + mods + ' video-rating')
        .video-rating__star 
            +icon('rating-star')
        p.video-rating__value= allStars 
    //- End inner