mixin videoRating(parentClass, mods, allStars)
    ul(class= parentClass + ' ' + mods + ' video-rating')
        li.video-rating__star
            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2006 4.35047L15.5821 4.83775C16.541 4.9759 16.9252 6.15375 16.2324 6.83068L13.7887 9.21823C13.5135 9.48706 13.3883 9.87406 13.4537 10.2531L14.0353 13.6196C14.2002 14.5742 13.1989 15.3036 12.3408 14.8538L9.31488 13.2679C8.9741 13.0893 8.56722 13.0896 8.22703 13.2691L5.20496 14.8625C4.34805 15.3143 3.34489 14.5873 3.50746 13.6323L4.08092 10.2643C4.1454 9.88502 4.01938 9.49826 3.74343 9.23003L1.29447 6.84848C0.599869 6.17312 0.981249 4.99444 1.94001 4.85394L5.32026 4.35869C5.7009 4.30304 6.02966 4.0635 6.19948 3.71829L7.7078 0.652815C8.13552 -0.216458 9.37439 -0.217933 9.80408 0.650364L11.3197 3.71214C11.4904 4.05672 11.8197 4.29554 12.2006 4.35034L12.2006 4.35047Z" fill="url(#paint0_linear_54_174)"/>
                <defs>
                <linearGradient id="paint0_linear_54_174" x1="15.4392" y1="7.51167e-07" x2="0.939177" y2="18" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EFC127"/>
                <stop offset="1" stop-color="#FFE795"/>
                </linearGradient>
                </defs>
            </svg>
        li.video-rating__star
            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2006 4.35047L15.5821 4.83775C16.541 4.9759 16.9252 6.15375 16.2324 6.83068L13.7887 9.21823C13.5135 9.48706 13.3883 9.87406 13.4537 10.2531L14.0353 13.6196C14.2002 14.5742 13.1989 15.3036 12.3408 14.8538L9.31488 13.2679C8.9741 13.0893 8.56722 13.0896 8.22703 13.2691L5.20496 14.8625C4.34805 15.3143 3.34489 14.5873 3.50746 13.6323L4.08092 10.2643C4.1454 9.88502 4.01938 9.49826 3.74343 9.23003L1.29447 6.84848C0.599869 6.17312 0.981249 4.99444 1.94001 4.85394L5.32026 4.35869C5.7009 4.30304 6.02966 4.0635 6.19948 3.71829L7.7078 0.652815C8.13552 -0.216458 9.37439 -0.217933 9.80408 0.650364L11.3197 3.71214C11.4904 4.05672 11.8197 4.29554 12.2006 4.35034L12.2006 4.35047Z" fill="url(#paint0_linear_54_174)"/>
                <defs>
                <linearGradient id="paint0_linear_54_174" x1="15.4392" y1="7.51167e-07" x2="0.939177" y2="18" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EFC127"/>
                <stop offset="1" stop-color="#FFE795"/>
                </linearGradient>
                </defs>
            </svg>
        li.video-rating__star
            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2006 4.35047L15.5821 4.83775C16.541 4.9759 16.9252 6.15375 16.2324 6.83068L13.7887 9.21823C13.5135 9.48706 13.3883 9.87406 13.4537 10.2531L14.0353 13.6196C14.2002 14.5742 13.1989 15.3036 12.3408 14.8538L9.31488 13.2679C8.9741 13.0893 8.56722 13.0896 8.22703 13.2691L5.20496 14.8625C4.34805 15.3143 3.34489 14.5873 3.50746 13.6323L4.08092 10.2643C4.1454 9.88502 4.01938 9.49826 3.74343 9.23003L1.29447 6.84848C0.599869 6.17312 0.981249 4.99444 1.94001 4.85394L5.32026 4.35869C5.7009 4.30304 6.02966 4.0635 6.19948 3.71829L7.7078 0.652815C8.13552 -0.216458 9.37439 -0.217933 9.80408 0.650364L11.3197 3.71214C11.4904 4.05672 11.8197 4.29554 12.2006 4.35034L12.2006 4.35047Z" fill="url(#paint0_linear_54_174)"/>
                <defs>
                <linearGradient id="paint0_linear_54_174" x1="15.4392" y1="7.51167e-07" x2="0.939177" y2="18" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EFC127"/>
                <stop offset="1" stop-color="#FFE795"/>
                </linearGradient>
                </defs>
            </svg>
        li.video-rating__star
            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2006 4.35047L15.5821 4.83775C16.541 4.9759 16.9252 6.15375 16.2324 6.83068L13.7887 9.21823C13.5135 9.48706 13.3883 9.87406 13.4537 10.2531L14.0353 13.6196C14.2002 14.5742 13.1989 15.3036 12.3408 14.8538L9.31488 13.2679C8.9741 13.0893 8.56722 13.0896 8.22703 13.2691L5.20496 14.8625C4.34805 15.3143 3.34489 14.5873 3.50746 13.6323L4.08092 10.2643C4.1454 9.88502 4.01938 9.49826 3.74343 9.23003L1.29447 6.84848C0.599869 6.17312 0.981249 4.99444 1.94001 4.85394L5.32026 4.35869C5.7009 4.30304 6.02966 4.0635 6.19948 3.71829L7.7078 0.652815C8.13552 -0.216458 9.37439 -0.217933 9.80408 0.650364L11.3197 3.71214C11.4904 4.05672 11.8197 4.29554 12.2006 4.35034L12.2006 4.35047Z" fill="url(#paint0_linear_54_174)"/>
                <defs>
                <linearGradient id="paint0_linear_54_174" x1="15.4392" y1="7.51167e-07" x2="0.939177" y2="18" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EFC127"/>
                <stop offset="1" stop-color="#FFE795"/>
                </linearGradient>
                </defs>
            </svg>
        li.video-rating__star
            if allStars
                <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2006 4.35047L15.5821 4.83775C16.541 4.9759 16.9252 6.15375 16.2324 6.83068L13.7887 9.21823C13.5135 9.48706 13.3883 9.87406 13.4537 10.2531L14.0353 13.6196C14.2002 14.5742 13.1989 15.3036 12.3408 14.8538L9.31488 13.2679C8.9741 13.0893 8.56722 13.0896 8.22703 13.2691L5.20496 14.8625C4.34805 15.3143 3.34489 14.5873 3.50746 13.6323L4.08092 10.2643C4.1454 9.88502 4.01938 9.49826 3.74343 9.23003L1.29447 6.84848C0.599869 6.17312 0.981249 4.99444 1.94001 4.85394L5.32026 4.35869C5.7009 4.30304 6.02966 4.0635 6.19948 3.71829L7.7078 0.652815C8.13552 -0.216458 9.37439 -0.217933 9.80408 0.650364L11.3197 3.71214C11.4904 4.05672 11.8197 4.29554 12.2006 4.35034L12.2006 4.35047Z" fill="url(#paint0_linear_54_174)"/>
                    <defs>
                    <linearGradient id="paint0_linear_54_174" x1="15.4392" y1="7.51167e-07" x2="0.939177" y2="18" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EFC127"/>
                    <stop offset="1" stop-color="#FFE795"/>
                    </linearGradient>
                    </defs>
                </svg>
            else
                <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.847 4.35047L15.2285 4.83775C16.1874 4.9759 16.5716 6.15375 15.8787 6.83068L13.4351 9.21823C13.1598 9.48706 13.0347 9.87406 13.1001 10.2531L13.6817 13.6196C13.8466 14.5742 12.8453 15.3036 11.9871 14.8538L8.96128 13.2679C8.62049 13.0893 8.21361 13.0896 7.87342 13.2691L4.85135 14.8625C3.99444 15.3143 2.99129 14.5873 3.15385 13.6323L3.72731 10.2643C3.79179 9.88502 3.66577 9.49826 3.38982 9.23003L0.940859 6.84848C0.246262 6.17312 0.627642 4.99444 1.5864 4.85394L4.96665 4.35869C5.34729 4.30304 5.67606 4.0635 5.84587 3.71829L7.35419 0.652815C7.78191 -0.216458 9.02078 -0.217933 9.45047 0.650364L10.966 3.71214C11.1368 4.05672 11.4661 4.29554 11.847 4.35034L11.847 4.35047Z" fill="#1F2223"/>
                </svg>

    //- End inner