if sectionType == 'video-popular'
    - var sectionClass = 'best-scenes best-scenes--type_vid-pop'
    - var sectionTitle = 'Popular Scenes'
    - var publisher = true
else if sectionType == 'video-best-scenes'
    - var sectionClass = 'best-scenes best-scenes--type_best-scenes'
    - var publisher = false
    - var sectionTitle = 'Best Network Scenes'
else
    - var sectionClass = 'best-scenes'
    - var publisher = false
    - var sectionTitle = 'Best Network Scenes'

section(class= sectionClass)
    .container__inner
        +section-title(sectionTitle, 'section-title--color_accent section-title--size_M best-scenes__title')
        //- End title

        .best-scenes__list.grid.grid--gap-S_10.grid--col-M_2.grid--gap-M_10-11.grid--col-L_3.grid--gap-L_10.grid--col-XL_4.grid--gap-XXL_20-21
            - var bestScenes = [{img: 1, fullRating: true}, {img: 2, fullRating: false},{img: 3, fullRating: false},{img: 4, fullRating: true},{img: 5, fullRating: false}, {img: 6, fullRating: true},{img: 7, fullRating: false},{img: 8, fullRating: true}]

            each bestScene in bestScenes
                +videoPreview--l('best-scenes__item', '/assets/pics/best-scenes/' + bestScene.img, 'The Right Of The Wedding Night Was M', true, true, publisher)
        //- End items

        if sectionType !== 'video-popular'
            a.best-scenes__btn.btn.btn--theme_accent(href="/") get instant access
    //- End Best scenes section