if sectionType == 'video-popular'
    - var sectionClass = 'best-scenes best-scenes--vid-pop'
    - var publisher = true
else if sectionType == 'video-best-scenes'
    - var sectionClass = 'best-scenes best-scenes--best-scenes'
    - var publisher = false
else
    - var sectionClass = 'best-scenes'
    - var publisher = false

section(class= sectionClass)
    if sectionType == 'video-popular'
        +sectionTitle--video('best-scenes__title', 'Popular Scenes')
    else if sectionType == 'video-best-scenes'
        +sectionTitle--video('best-scenes__title', 'Best Network Scenes')
    else
        +sectionTitle--def('best-scenes__title', 'Best Network Scenes')
    //- End title

    .best-scenes__list.grid.grid-xxl--4-cols.grid-gap--xxl-15.grid-xl--3-cols.grid-gap--xl-10.grid--m-2-cols.grid-s--1-cols.grid-gap--s-20
        - var bestScenes = [{img: 1, fullRating: true}, {img: 2, fullRating: false},{img: 3, fullRating: false},{img: 4, fullRating: true},{img: 5, fullRating: false}, {img: 6, fullRating: true},{img: 7, fullRating: false},{img: 8, fullRating: true}]

        each bestScene in bestScenes
            +videoPreview--l('best-scenes__item', '/assets/pics/best-scenes/' + bestScene.img, 'The Right Of The Wedding Night Was M', bestScene.fullRating, publisher)
    //- End items

    if sectionType !== 'video-popular'
        a.best-scenes__btn.btn.btn--size-df.btn--theme-accent(href="/") get instant access
//- End Best scenes section