.get-access.features__get-access
    .get-access__container
        .get-access__bg-block.get-access__bg-block--left  
            +responsiveImage--oneSize('get-access__bg', './assets/images/get-access-bg1', 'png')
        //- get-access__bg-block 
        .get-access__content-block
            .get-access__inner
                +section-title('Go Premium and save!', 'section-title--color_accent section-title--size_L')
                p.get-access__descr Get huge savings when you unlock all of our premium series in one membership.
                //- End section-title

                //- Items
                .get-access__advantages
                    - var iconTitleTheme = 'tranparent-bg'
                    - var iconTitleSize = 'm'
                    - var iconTitleItems = [{spriteName: '19-series', title: 'All Inclusive Access <span>(All 19 Series Included)</span>', parent: 'get-access__item'}, {spriteName: 'unlim-downloads', title: 'Unlimited Downloads', parent: 'get-access__item'}, {spriteName: 'early-access', title: 'Early access to new series', parent: 'get-access__item'}, {spriteName: 'premium-membership', title: 'Premium membership support', parent: 'get-access__item'}, {spriteName: 'special-offer', title: 'Special partner offers', parent: 'get-access__item'}]
                    each item in iconTitleItems
                        +iconTitleItem--get-access('get-access__item', item.spriteName, item.title)
                    //- End loop
                //- get-access__advantages

                a.get-access__btn.btn.btn--theme_accent(href="/") get instant access
            //- get-access__inner
        //- get-access__content-block

        .get-access__bg-block.get-access__bg-block--right
            +responsiveImage--oneSize('get-access__bg', './assets/images/get-access-bg2', 'png')
        //- get-access__bg-block 
    //- container
//-get-access