- var previewItems = [{img: 1, icon: '4k', title: 'My Wife Likes It Rough', ratingIsFull: true}, {img: 2, icon: '4k', title: 'Swinging Misery Comrades', ratingIsFull: false},{img: 3, icon: '4k', title: `Stacy's Sexual Educationh`, ratingIsFull: false},{img: 4, icon: '4k', title: 'Hear Me While My Avatar is Making You Moan', ratingIsFull: true}]

.videos-preview.section.section--light
    .videos-preview__grid.grid.grid-xxl--2-cols.grid-gap--xxl-30-20.grid-gap--xl-20.grid-gap--l-10.grid-gap--m-10.grid-s--1-cols.grid-gap--s-20
        - var videoPreview__imgType = 'jpg'
        - var videoPreview__parentClass = 'video-preview__pic'
        - var videoPreviewSize = 'xl'
        - var squarePalletSize = 'xl'
        - var squarePalletParentClass = 'video-preview__square-pallet'

        each previewItem in previewItems
            +videoPreview--xl('video-preview__item', '/assets/pics/videos-preview/' + previewItem.img, previewItem.title, previewItem.ratingIsFull)
            //- End item
        //- End loop
    //- End grid
    .videos-preview__btn-wrapper
        a.videos-preview__btn.btn.btn--size-df.btn--theme-accent(href="/") Join Now