form.footer__form.footer-form(action="/", method="post")
    h5.footer-form__title Newsletter
    .footer-form__desc
        p Sign up for our newsletter and get new deals and discounts directly on your email for FREE
    //- End desc
    +customInput--withBtnIn('footer-form__field', 'Your email', 'Subscribe')