//- - var listTitle = 'Terms and conditions'
//- - var list = ['2257 Documents', 'Privacy policy', 'Terms and Conditions', 'DMCA', 'Content removal']
//- - var listParentClass = 'footer__list-item'

mixin list(listParentClass, listTitle, list)
    .list(class=listParentClass)
        h5.list__title
            span= listTitle
            span.list__btn
                +icon('arrow-down')
            
        ul.list__ul
            each item in list
                li.list__item
                    a.list__link(href="/")= item
                //- End item
            //- End loop
        //- End ul
    //- End list