ul.mobile-nav#mobileNav
    li.mobile-nav__item
        +login-btn('mobile-nav__link mobile-nav__link--login')
    li.mobile-nav__item
        a.mobile-nav__link.mobile-nav__link--join.btn.btn--theme_accent(href="/") Join Now
    //- End item