.container {
    width: 100%;
}

@include media-M {
    .container {
        width: min(calc(100% - 4rem), 156rem);
        margin-inline: auto;
    }
    // End inner
}
// End M

@include media-L {
    .container {
        width: min(calc(100% - 6rem), 156rem);
        margin-inline: auto;
    }
    // End inner
}
// End M

@include media-XL {
    .container {
        width: min(calc(100% - 4rem), 156rem);
        margin-inline: auto;
    }
    // End inner
}
// End M