.container {
    width: 100%;
}
// End inner

// .container--page {
//     &_video {
//         .container {
//             &__inner {
//                 padding-inline: 1rem;
//             }
//         }
//     }
//     // End VIDEO
// }
// // End by PAGE

@include media-M {
    .container {
        width: min(calc(100% - 4rem), 156rem);
        margin-inline: auto;
    }
    // End inner

    .container--page {
        &_video {
            .container {
                &__inner {
                    padding-inline: 1.1rem;
                }
            }
        }
        // End VIDEO

        &_home {
            .container {
                &__inner {
                    padding-inline: 1rem;
                }
            }
        }
        // End home
    }
    // End by PAGE
}
// End M

@include media-L {
    .container {
        width: min(calc(100% - 6rem), 156rem);
        margin-inline: auto;
    }
    // End inner
}
// End M

@include media-XL {
    .container {
        width: min(calc(100% - 4rem), 156rem);
        margin-inline: auto;
    }
    // End inner

    .container--page {
        &_video {
            .container {
                &__inner {
                    padding-inline: 2rem;
                }
            }
        }
        // End VIDEO
    }
    // End by PAGE
}
// End M

@include media-XXL {
    .container--page {
        &_video {
            .container {
                &__inner {
                    padding-inline: 4rem;
                }
            }
        }
        // End VIDEO
    }
    // End by PAGE
}
// End XXL