.custom-input {
    &__field {
        width: 100%;
        outline: none;
    }
}

.custom-input--with-btn-in {
    .custom-input {
        &__field {
            font-size: 1.2rem;
            line-height: 200%;
            color: rgba(255,255,255,.5);
            background: #141618;
            border: .1rem solid rgba(255, 255, 255, 0.04);
            border-radius: 7rem;
            padding: 1.3rem 13.2rem 1.3rem 2rem;
        }

        &__btn {
            position: absolute;
            @include push--middle;
            right: 0.7rem;
            padding: .6rem 1.9rem;
            font-size: 1.4rem;
            line-height: 171%;
        }
    }
    // End inner
}

@include media-639 {
    .custom-input--with-btn-in {
        .custom-input {
            &__btn {
                padding: 1rem 1rem 1.1rem;
                font-size: 1.1rem;
                line-height: 137%;
            }
        }
        // End inner
    }
}