.custom-input {
    &__field {
        width: 100%;
        outline: none;
    }
}

.custom-input--with-btn-in {
    .custom-input {
        &__field {
            font-size: 1.2rem;
            line-height: 241.6%;
            color: var(--color__heading-text);
            background: #222;
            border-radius: .2rem;
            padding: .8rem 9.6rem .9rem .95rem;
            border: none;
            outline: none;

            @include placeholder {
                color: rgba(255, 255, 255, 0.30);
            }
        }

        &__btn {
            position: absolute;
            @include push--middle;
            right: 0;
            padding: .8rem 1rem;
            font-size: 1.4rem;
            line-height: 207%;
            height: 100%;
            font-weight: 500;
        }
    }
}
// End inner

@include media-M {
    .custom-input--with-btn-in {
        .custom-input {
            &__btn {
                padding: .8rem 2rem .8rem 2.5rem;
            }
        }
    }
    // End inner
}