.footer-form {
    &__title {
        font-size: 1.8rem;
        line-height: 150%;
        color: var(--color__heading-text);
        font-weight: 400;
    }

    &__desc {
        margin-top: 2rem;
        font-size: 1.4rem;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.6);

        p {
            margin: 1.5rem 0 0;
        }
    }

    &__field {
        margin-top: 2rem;
        position: relative;
    }
}
// End inner