.grid {
    display: grid;
}

// XXL

// .grid--col-S {

// }
// // End by COL

.grid--gap-S {
    &_10 {
        gap: 1rem;
    }
}
// End by GAP

@include media-M {
    .grid--col-M {
        &_2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    // End by COL
    
    .grid--gap-M {
        &_10-17 {
            gap: 1.7rem 1rem;
        }

        &_10-11 {
            gap: 1.1rem 1rem;
        }
    }
    // End by GAP
}
// End M

@include media-L {
    .grid--col-L {
        &_3 {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    // End by COL
    
    .grid--gap-L {
        &_10 {
            gap: 1rem;
        }
    }
    // End by GAP
}
// End L

@include media-XL {
    .grid--col-XL {
        &_4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    // End by COL
}
// End XL

@include media-XXL {
    .grid--gap-XXL {
        &_20-21 {
            gap: 2.08rem 2rem;
        }
    }
    // End by GAP
}
// End XXL