.list {
    &__title {
        @extend .footer-form__title;
    }

    &__ul {
        margin-top: 2rem;
    }

    &__item:not(:first-child) {
        margin-top: 1rem;
    }

    &__link {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 600;
        line-height: 150%;
        font-size: 1.4rem;

        &:hover {
            color: #fff;
        }
    }
}
// End inner