.lng-swtch {
    position: relative;

    &__active {
        background: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .9rem 1.7rem;
        border: 1px dashed rgba(255, 255, 255, 0.25);
        border-radius: 5rem;
        cursor: pointer;
        transition: $transition--general;

        &-name {
            font-family: var(--font-title);
            font-size: 1.7rem;
            line-height: 135%;
            opacity: .8;
            text-transform: uppercase;
        }

        &-flag-wr {
            width: 3rem;
            height: 3rem;
        }

        &-flag {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &-arrow {
            margin-left: .8rem;
            width: .6rem;
            height: 0.8rem;
            display: inherit;

            svg {
                width: 100%;
                height: auto;
                max-height: 100%;
                transition: $transition--general;
            }
        }
        // End arrow

        &:hover {
            background: rgba(#9797974B, .3);
            border-color: transparent;
        }
    }
    // End current language button

    &__list {
        position: absolute;
        right: 0;
        top: calc(100% + .8rem);
        z-index: z('content');
    }

    &__active--active {
        .lng-swtch {
            &__active-arrow {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
        // End inner
    }
}

@include media-959 {
    .lng-swtch {
        &__active {
            padding: .6rem 1.7rem;
        }
    }
}