.best-scenes {
    padding: 3rem 0 7rem;

    &__title {
        margin-bottom: 2rem;
        margin-left: 2.9rem;
    }

    &__btn {
        margin: 2rem 1rem 0;
        padding: 1rem 0;
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 500;
    }


    &__item {
        display: none;

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            display: block;
        }
    }
}
// End inner

.best-scenes--type {
    &_vid-pop {
        padding-block: 5rem 1rem;

        .best-scenes {
            &__title {
                margin-left: 5.1rem;
            }
        }
    }
}
// End by TYPE

@include media-M {
    .best-scenes {
        padding: 4rem 0 8rem;
    
        &__title {
            margin-left: 0;
        }
    
        &__btn {
            width: max-content;
            margin: 2rem auto 0;
            padding: 1rem 8rem;
        }

        &__item:nth-child(4) {
            display: block;
        }
    }
    // End inner
    
    .best-scenes--type {
        &_vid-pop {
            padding-block: 4rem 2rem;
    
            .best-scenes {
                &__title {
                    margin-left: 0;
                }
            }
        }

        &_best-scenes {
            padding-block: 2rem 8rem;
        }
    }
    // End by TYPE
}
// End M

@include media-L {
    .best-scenes {
        padding: 7rem 0 10rem;
    
        &__btn {
            margin: 3rem auto 0;
            font-size: 2.4rem;
        }

        &__item:nth-child(5), &__item:nth-child(6) {
            display: block;
        }
    }
    // End inner
    
    .best-scenes--type {
        &_vid-pop {
            padding-block: 7rem 3rem;
        }

        &_best-scenes {
            padding-block: 4rem 10rem;
        }
    }
    // End by TYPE
}
// End L

@include media-XL {
    .best-scenes {
        padding: 7rem 1rem 11.5rem;

        &__item {
            display: block;
        }
    }
    // End inner

    .best-scenes--type {
        &_vid-pop {
            padding: 7rem 0 3.2rem;

            .best-scenes {
                &__title {
                    margin-bottom: 2.5rem;
                }
            }
        }

        &_best-scenes {
            padding: 4rem 0 11.5rem;
        }
    }
    // End by TYPE
}
// End XL

@include media-XXL {
    .best-scenes {
        padding: 7rem 3rem 11.5rem;
    }

    .best-scenes--type {
        &_vid-pop {
            padding: 7rem 0 3.1rem;
            
            .best-scenes {
                &__title {
                    margin-bottom: 2rem;
                }
            }
        }

        &_best-scenes {
            padding: 4rem 0 11.5rem;
        }
    }
}
// End XXL