.description-section {
    padding-block: 1rem;

    &__title {
        text-align: center;
        color: #F7B500;
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 1.2;
    }

    &__desc {
        display: none;
    }

    &__btn {
        display: none;
    }
}
// End inner

@include media-M {
    .description-section {
        padding: 0;

        &__content {
            border-radius: 0.2rem;
            background: #000;
            padding: 1.5rem 1rem 3rem;
        }
    
        &__title {
            font-size: 3.2rem;
            margin-bottom: 1rem;
        }
    
        &__desc {
            display: block;
            color: rgba(255, 255, 255, 0.80);
            text-align: center;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 150%;

            p {
                margin-bottom: 0;
            }
    
            p:first-child {
                margin-top: 0;
            }
    
            p:not(:first-child) {
                margin-top: 1.5rem;
            }
        }
    
        &__btn {
            display: flex;
            justify-content: flex-end;
            color: var(--color__accent);
            font-size: 1.5rem;
            line-height: 150%; 
            width: max-content;
            margin: 2rem auto 0;
            padding: .8rem 1.2rem .8rem 5.9rem;

            p {
                margin-right: 3.2rem;
                font-weight: 600;
            }

            svg {
                @include square(1.5rem);
            }
        }
    }
    // End inner
}
// End M

@include media-L {
    .description-section {
        &__content {
            padding: 4rem 3rem;
        }
    
        &__title {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
    
        &__desc {
            font-size: 1.5rem;
        }
    
        &__btn {
            margin: 2.6rem auto 0;
        }
    }
    // End inner
}
// End L


@include media-XL {
    .description-section {
        &__content {
            padding: 3.9rem 11rem 3.8rem 10.9rem;
        }
    
        &__btn {
            margin: 2.5rem auto 0;
        }
    }
    // End inner
}
// End XL

@include media-XXL {
    .description-section {
        &__content {
            padding: 3.9rem 19rem 3.8rem 18.9rem;
        }
    }
    // End inner
}
// End XXL