.features {
    padding: 3rem .4rem 2.9rem;
    background-color: var(--color__odd-bg);

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__wrapper {
        border-radius: 0.2rem;
        border: 1px solid rgba(255, 255, 255, 0.06);
        background: rgba(217, 217, 217, 0.04);
    }

    &__item {
        position: relative;
        height: 11.5rem;

        &:first-child, &:nth-child(2) {
            height: 11.2rem;
        }

        &:nth-child(2n + 1) {
            padding-right: 1rem;

            &::after {
                @include pseudo;
                @include push--middle;
                right: 0;
                width: 0.1rem;
                background-color: rgba($color: #FFF, $alpha: .06);
                height: 9rem;
            }
        }

        &:nth-child(2n) {
            padding-left: 1rem;
        }

        &:nth-last-child(-n+4) {
            &::before {
                @include pseudo;
                left: 0;
                top: 0;
                width: calc(100% - 1rem);
                height: 0.1rem;
                background-color: rgba($color: #FFF, $alpha: .06);
            }

            &:nth-child(2n) {
                &::before {
                    left: auto;
                    right: 0;
                }
            }
        }

        &:nth-child(5), &:last-child {
            padding-bottom: 0.8rem;
        }
    }

    &__items-wrapper {
        padding: 0 .6rem 1.2rem;
    }
}
// End inner

@include media-M {
    .features {
        padding: 4rem 0;

        &__title {
            text-align: start;
        }
    
        &__wrapper {
            padding: 0 .8rem 1rem .9rem; 
        }
    
        &__item {
            height: 14rem;

            &:first-child, &:nth-child(2) {
                height: 13rem;
            }
    
            &:nth-child(2n + 1) {
                padding-right: .6rem;
                &::after {
                    height: 10rem;
                }
            }
    
            &:nth-child(2n) {
                padding-left: 2.5rem;
            }
    
            &:nth-last-child(-n+4) {
                &:nth-child(2n) {
                    &::before {
                        left: auto;
                        right: 0;
                    }
                }
            }

            &:nth-child(5), &:last-child {
                padding-bottom: 2.9rem;
            }
        }
    
        &__items-wrapper {
            padding: 0;
        }
    }
    // End inner
}
// End M

@include media-L {
    .features {
        padding: 7rem 0;
    
        &__wrapper {
            padding: 0 1rem 1rem; 
        }
    
        &__item {
            height: 19.2rem;

            &:first-child, &:nth-child(2) {
                height: 19.2rem;
            }

            &:nth-child(3n) {
                &::after {
                    display: none;
                }
            }
    
            &:nth-child(3n + 1), &:nth-child(3n + 2) {
                &::after {
                    @include pseudo;
                    @include push--middle;
                    right: 0;
                    width: 0.1rem;
                    background-color: rgba($color: #FFF, $alpha: .06);
                    height: 16.1rem;
                }
            }
    
            &:nth-child(2n), &:nth-child(2n + 1) {
                padding-inline: 0;
            }

            &:nth-child(5), &:last-child {
                padding-bottom: 4.8rem;
            }

            &:nth-child(3){
                &::before {
                    display: none;
                }
            }
    
            &:nth-last-child(-n+3) {
                &::before {
                    @include pseudo;
                    left: 1rem;
                    top: 0;
                    width: calc(100% - 2rem);
                    height: 0.1rem;
                    background-color: rgba($color: #FFF, $alpha: .06);
                }
    
                &:nth-child(2n) {
                    &::before {
                        left: auto;
                        right: 1rem;
                    }
                }
            }
        }
    
        &__items-wrapper {
            padding: 0 0 1rem;
        }
    }
    // End inner
}
// End L

@include media-XL {
    .features {
        padding: 7rem 0.9rem 14.9rem;

        &__title {
            margin-bottom: 3rem;
        }
    
        &__wrapper {
            padding: 0 .2rem .3rem .5rem; 
        }
    
        &__item {
            height: 22.4rem;

            &:first-child, &:nth-child(2) {
                height: 22.4rem;
            }
    
            &:nth-child(3n + 1), &:nth-child(3n + 2) {
                &::after {
                    height: 20.5rem;
                }
            }

            &:nth-child(5), &:last-child {
                padding-bottom: 5.8rem;
            }
        }
    
        &__items-wrapper {
            padding: 0 0 .2rem;
        }
    }
    // End inner
}
// End XL

@include media-XXL {
    .features {
        padding: 7.3rem 3rem 10.5rem;
    
        &__wrapper {
            padding: 0 .5rem .3rem .5rem; 
        }
    
        &__item {
            &:nth-last-child(-n+3) {
                &::before {
                    @include pseudo;
                    left: 1rem;
                    top: 0;
                    width: calc(100% - 2rem);
                    height: 0.1rem;
                    background-color: rgba($color: #FFF, $alpha: .06);
                }
    
                &:nth-child(2n) {
                    &::before {
                        left: auto;
                        right: 1rem;
                    }
                }
            }
        }
    
        &__items-wrapper {
            padding: 0 0 .1rem;
        }
    }
    // End inner
}
// End XXL