.banner-slide {
    position: relative;
    picture {
        position: absolute;
        @include push-full;
    }

    &__img {
        @include cover-image;
    }

    &::after {
        @include pseudo(block, relative);
        width: 100%;
        padding-top: 43%;
    }
}
// End inner

@include media-M {
    .banner-slide {
        &::after {
            padding-top: 42.7%;
        }
    }
    // End inner
}
// End M

@include media-XL {
    .banner-slide {
        &::after {
            padding-top: 31.9%;;
        }
    }
    // End inner
}
// End XL