.icon-title-item {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__icon {
        flex-shrink: 0;
    }

    &__title {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: center;
        color: var(--color__heading-text);
    }
}
// End inner

.icon-title-item--type {
    &_features {
        gap: .5rem;
        justify-content: center;

        .icon-title-item {

            // &__icon-wr {
            //     height: 3.68rem;
            // }

            // Icon
            &__icon {
                fill: var(--color__accent);
                &--4k-display {
                    width: 4.5rem;
                    height: 2.4rem;
                }
    
                &--hd-definition {
                    width: 4.6rem;
                    height: 2.4rem;
                }
    
                &--responsive-for-devices {
                    width: 3.28rem;
                    height: 3.28rem;
                }
    
                &--50-mp-photos {
                    width: 4.2rem;
                    height: 3.68rem;
                }
    
                &--fast-runtime {
                    width: 3.3rem;
                    height: 2.4rem;
                }
    
                &--support {
                    width: 2.96rem;
                    height: 2.96rem;
                }
            }
            // End icon
        }
        // End inner
    }
    // End FEATURES

    &_get-access {
        flex-direction: row;
        gap: 1.5rem;
    
        .icon-title-item {
            &__icon-wr {
                width: 2.55rem;
            }

            &__icon {
                &--19-series {
                    width: 2.26rem;
                    height: 1.6rem;
                }
    
                &--unlim-downloads {
                    width: 2.3rem;
                    height: 2.2rem;
                }
    
                &--early-access {
                    width: 2.2rem;
                    height: 2.2rem;
                }
    
                &--premium-membership {
                    @include square(2.4rem);
                }
    
                &--special-offer {
                    width: 2.55rem;
                    height: 2.4rem;
                }
            }
            // End icon
    
            &__title {
                font-size: 1.4rem;
                text-align: left;
                text-transform: capitalize;

                span {
                    display: none;
                }
            }
        }
        // End inner
    }
    // End ACCESS
}
// End by TYPE

@include media-M {
    .icon-title-item {
        &__title {
            font-size: 1.6rem;
        }
    }
    // End inner

    .icon-title-item--type {
        &_features {
            // gap: 2rem;
            gap: 1.5rem;

            .icon-title-item {
                &__title {
                    br {
                        display: none;
                    }
                }
            }
        }

        &_get-access {
            .icon-title-item {
                &__title {
                    font-size: 1.6rem;
                    span {
                        display: inline;
                    }
                }
            }
        }
    }
    // End by TYPE
}
// End M

@include media-L {
    .icon-title-item--type {
        &_features {
            .icon-title-item {
                // Icon
                &__icon {

                    &--4k-display {
                        width: 5.6rem;
                        height: 3rem;
                    }
        
                    &--hd-definition {
                        width: 5.8rem;
                        height: 3rem;
                    }
        
                    &--responsive-for-devices {
                        width: 5.2456rem;
                        height: 4.6rem;
                    }
        
                    &--50-mp-photos {
                        width: 5.3rem;
                        height: 4.6rem;
                    }
        
                    &--fast-runtime {
                        width: 4.1rem;
                        height: 3rem;
                    }
        
                    &--support {
                        width: 3.7rem;
                        height: 3.7rem;
                    }
                }
                // End icon

                &__title {
                    font-size: 1.8rem;
                }
            }
            // End inner
        }
        // End FEATURES


    }
    // End by TYPE
}
// End L

@include media-XL {
    .icon-title-item--type {
        &_features {
            gap: 3.5rem;
        }
    }
}
// End XL

@include media-XXL {
    .icon-title-item--type {
        &_features {
            gap: 3rem;
        }
    }
}
// End XXL