.logo-title-item {
    position: relative;

    &__icon-wrapper {
        position: absolute;
        left: 0;
        @include push--middle;
        width: 4rem;

        display: flex;
        align-items: center;    
        justify-content: center;

        .dw4k {
            width: 2.9rem;
            height: 1.6rem;
        }

        .dw-hd {
            width: 2.9rem;
            height: 1.5rem;
        }

        .dw-hd-sm {
            width: 4rem;
            height: 2.3rem;
        }

        .dw-sd {
            width: 2.76rem;
            height: 1.6rem;
        }

        .dw-mb-vid {
            @include square(2.4rem);
        }

        .dw-img {
            width: 3.5rem;
            height: 3.2rem;
        }

        .dw-sub {
            width: 3.2rem;
            height: 2.6rem;
        }
    }

    &__content {
        padding-left: 5.5rem;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__title {
        color: rgba(255, 255, 255, 0.80);
        font-size: 1.4rem;
        line-height: 150%;
    }

    &__desc {
        color: rgba(255, 255, 255, 0.40);
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 125%;
        font-family: var(--font-odd);
    }
}
// End inner

@include media-M {
    .logo-title-item {
        padding-inline: .8rem 1.1rem;

        &__icon-wrapper {
            width: 5rem;
            left: .4rem;
        }

        &__content {
            padding-left: 5.5rem;
            align-items: center;
        }
    
        &__title {
            font-size: 1.5rem;
            line-height: 1.53;
        }
    }
}
// End M

@include media-L {
    .logo-title-item {
        align-items: center;
        padding: 2rem 0;

        &__content {
            flex-direction: column;
            gap: .6rem;
            align-items: flex-start;
            padding-left: 6rem;
        }
    }
}
// End L

@include media-XL {
    .logo-title-item {

        &__icon-wrapper {
            width: 8rem;
    
            .dw4k {
                width: 3.6rem;
                height: 1.9rem;
            }
    
            .dw-hd {
                width: 3.7rem;
                height: 1.9rem;
            }
    
            .dw-hd-sm {
                width: 4.9rem;
                height: 2.9rem;
            }
    
            .dw-sd {
                width: 3.5rem;
                height: 1.9rem;
            }
    
            .dw-mb-vid {
                @include square(3rem);
            }
    
            .dw-img {
                width: 4.4rem;
                height: 3.9rem;
            }
    
            .dw-sub {
                width: 3.8rem;
                height: 3.1rem;
            }
        }
    

        &__content {
            padding-left: 8.5rem;
        }
    }
}
// End XL

@include media-XXL {
    .logo-title-item {
        &__content {
            padding-left: 9rem;
        }
    }
}
// End XXL