.player-block {
    &__picture-inner {
        position: static;
    }

    &__picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    &__access-pallet {
        position: absolute;
        @include push--center-middle;
    }
}