.section-title {
    font-weight: 700;
}
// End inner

.section-title--color {
    // &_white {
    //     color: #F1EFED;
    // } 

    &_accent {
        color: #F7B500;
    }
}
// End by color

.section-title--size {
    &_M, &_L {
        font-size: 2.4rem;
        line-height: 1.2;
    }
}
// End by size

@include media-M {
    .section-title--size {
        &_M {
            font-size: 3.2rem;
        }

        &_L {
            font-size: 5rem;
            line-height: 1.22;
        }
    }
    // End by size    
}
// End M

@include media-L {
    .section-title--size {
        &_M {
            font-size: 3.9rem;
        }
    }
    // End by size    
}
// End L