.video-preview {
    &__pic-block {
        position: relative;
        display: block;
        background-color: var(--color__odd-bg);
    }

    &__pic-inner {
        width: 100%;
        position: relative;
        overflow: hidden;

        &::before {
            @include pseudo(block, relative);
            width: 100%;
            padding-top: 56.25%;
        }
    }

    &__pic-wrapper {
        picture {
            width: 100%;
        }
    }

    &__pic-wrapper, &__video-wrapper  {
        position: absolute;
        @include push-full;
        overflow: hidden;
    }

    &__video-wrapper {
        opacity: 0;
    }

    &__video-wrapper--active {
        @include el-show;
    }

    &__pic, &__video {
        @include cover-image;
    }

    &__square-pallet {
        position: absolute;
        top: .5rem;
        right: .3rem;
    }

    &__time {
        position: absolute;
        left: .5rem;
        bottom: .5rem;
    }

    // Text content

    &__text-content {
        padding: 1rem 1rem .9rem;
        background-color: var(--color__odd-bg);
    }

    &__name {
        color: var(--color__heading-text);
        font-size: 1.4rem;
        font-weight: 600;
        @include max-rows(1, 120%);

        &:hover {
            color: var(--color__accent-hover);
        }
    }

    &__info-row {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 1rem;
    }

    &__info-item:not(:first-child) {
        margin-left: 2rem;
    }

    &__video-rating {
        margin-left: auto;
    }
}

.video-preview--size-xl {
    .video-preview {
        &__info-item:nth-child(2) {
            display: none;
        }
    }
}
// End XL

.video-preview--size-l {
    .video-preview {
        &__name {
            font-weight: 400;
        }
        
        &__text-content {
            border-radius: 0 0 .2rem .2rem;
            border-bottom: .1rem solid rgba(255, 255, 255, 0.03); 
            border-left: .1rem solid rgba(255, 255, 255, 0.03); 
            border-right: .1rem solid rgba(255, 255, 255, 0.03); 

        }


    }
    // End inner
}
// END MOD's -----

@include media-M {
    .video-preview {
        &__pic-inner {
            border-radius: 0.2rem 0.2rem 0rem 0rem;
        }

        &__square-pallet {
            right: .57rem;
        }
    }
    // End inner

    // .video-preview--size-xl {

    // }

    .video-preview--size-l {
        .video-preview {
            &__pic-block {
                padding: .9rem 1rem 0;
                border-radius: .2rem .2rem 0 0;
                border-top: .1rem solid rgba(255, 255, 255, 0.03); 
                border-left: .1rem solid rgba(255, 255, 255, 0.03); 
                border-right: .1rem solid rgba(255, 255, 255, 0.03); 
            }

            &__pic-inner {
        
                &::before {
                    padding-top: 56.45%;
                }
            }
        }
    }
}
// End M

@include media-L {
    .video-preview {
        &__square-pallet {
            top: 1rem;
            right: 1rem;
        }
    }
    // End inner

    .video-preview--size-xl {
        .video-preview {
            &__pic-inner {
                border-radius: .2rem;
            }

            &__pic-block {
                padding: 1rem 1rem 0;
                border-radius: .2rem .2rem 0 0;
            }

            &__text-content {
                padding: 1.5rem 1rem;
                border-radius: 0 0 .2rem .2rem;
            }

            &__name {
                font-size: 1.8rem;
            }

            &__info-row {
                margin-top: 1.5rem;
            }

            &__info-item:nth-child(2) {
                display: flex;
            }
        }
    }
    // end XL

    .video-preview--size-l {
        .video-preview {
            &__text-content {
                padding: 1.1rem 1rem 0.9rem .9rem;
            }

            &__pic-block {
                padding: 1rem 1rem 0;
                border-radius: .2rem .2rem 0 0;
            }

            &__pic-inner {
        
                &::before {
                    padding-top: 56.7%;
                }
            }
        }
    }
    // End L
}
// End L

@include media-XL {
    .video-preview--size-xl {
        .video-preview {
            &__pic-block {
                padding: 2.2rem 2.25rem 0;
            }

            
            &__text-content {
                padding: 2rem 2.25rem 3rem;
            }

            &__name {
                font-size: 2.3rem;
            }

            &__info-row {
                margin-top: 2rem;
            }


        }
    }
    // End XL

    .video-preview--size-l {
        .video-preview {
            &__pic-block {
                padding: .8rem .9rem 0;
            }

            &__pic-inner {
        
                &::before {
                    padding-top: 56.3%;
                }
            }
        }
    }
}
// End XL

@include media-XXL {
    .video-preview--size-l {
        .video-preview {
            &__pic-block {
                padding: 1.8rem 2rem 0 1.9rem;
            }

            
            &__text-content {
                padding: 1rem 2rem 1.9rem 1.9rem;
            }

            &__info-row {
                margin-top: 1rem;
            }

            &__pic-inner {
        
                &::before {
                    padding-top: 56.8%;
                }
            }
        }
    }
    // End size L

    .video-preview--size-xl {
        .video-preview {
            &__pic-block {
                padding: 6rem 6.25rem 0;
            }

            
            &__text-content {
                padding: 2rem 6.25rem 3rem;
            }
        }
    }
    // End size XL
}
// End XXL