.video-info-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;

    &__icon svg {
        @include square(100%);
        fill: var(--color__heading-text);
    }

    &__icon svg, &__value {
        transition: var(--transition);
    }

    &__value {
        font-family: var(--font-odd);
        line-height: 1.25;
        color: var(--color__heading-text);
        cursor: default;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

// // Mods
// .video-info-item--xl {
//     .video-info-item {
//         &__value {
//             margin-left: 0.6rem;
//             font-size: 1.4rem;
//         }
//     }
//     // End inner
// }

a.video-info-item:hover {
    .video-info-item {
        &__icon svg {
            fill: var(--color__accent);
        }
        
        &__value {
            cursor: pointer;
            color: var(--color__accent);
        }
    }
    // End inner
}

.video-info-item--duration {
    .video-info-item {
        &__icon {
            @include square(1.4rem);
        }
    }
    // End inner
}

.video-info-item--viewed {
    .video-info-item {
        &__icon {
            @include square(2rem);
        }
    }
    // End inner
}

.video-info-item--publisher {
    gap: 1rem;
    .video-info-item {
        &__icon {
            @include square(1.4rem);
        }
    }
    // End inner
}

// .video-info-item--heart {
//     .video-info-item {
//         &__icon svg {
//             width: 1.8rem;
//             height: 1.7rem;
//         }
//     }
//     // End inner
// }

.video-info-item--like {
    .video-info-item {
        &__icon {
            width: 1.42rem;
            height: 1.4rem;
        }
    }
    // End inner
}

.video-info-item--download {
    .video-info-item {
        &__icon {
            @include square(1.4rem);
        }
    }
    // End inner
}

a.video-info-item--channel {
    .video-info-item {
        &__value {
            color: var(--color__accent-hover);
            font-weight: 700;
            line-height: 1.5;
            font-size: 1.2rem;
            font-family: var(--font-general);
            text-transform: uppercase;
        }
    }
    // End inner

    &:hover {
        .video-info-item {
            &__value {
                color: var(--color__heading-text);
            }
        }
    }
}

.video-info-item--publisher-video {
    .video-info-item {
        &__icon {
            width: 1rem;
            height: 1rem;
        }
    }
    // End inner
}
// End BY ICONS

.video-info-item--size {
    &_video {
        flex-direction: column;
        gap: .7rem;
    }
}
// End by SIZE

@include media-M {
    .video-info-item--like, .video-info-item--download {
        border-radius: 0.2rem;
        border: 1px solid rgba(255, 255, 255, 0.14);
        padding: 1.3rem 1.5rem;
    }
    // End LINKS

    .video-info-item--size {
        &_video {
            flex-direction: row;
            gap: 1rem;

            .video-info-item {
                &__value {
                    font-size: 1.4rem;
                }
            }

            &.video-info-item--duration, &.video-info-item--viewed, &.video-info-item--publisher {
                .video-info-item {
                    &__icon {
                        @include square(2rem);
                    }
                }
                // End inner
            }

            &.video-info-item--like, &.video-info-item--download {
                .video-info-item {
                    &__icon {
                        @include square(1.8rem);
                    }
                }
                // End inner
            }
        }
    }
    // End by SIZE
}
// End M

@include media-L {
    .video-info-item {
        gap: 1rem;

        &__value {
            font-size: 1.4rem;
        }
    }
    // End inner

    .video-info-item--viewed {
        .video-info-item {
            &__icon {
                @include square(1.4rem);
            }
        }
        // End inner
    }
    // End viewed

    .video-info-item--like, .video-info-item--download {
        padding: 1.3rem 2rem;
    }
    // End LINKS

    .video-info-item--publisher-video {
        .video-info-item {
            &__value {
                font-size: 1.2rem;
            }
        }
        // End inner
    }
    // End BY ICONS
}
// End L

@include media-XL {
    .video-info-item--duration, .video-info-item--viewed, .video-info-item--publisher {
        .video-info-item {
            &__icon {
                @include square(2rem);
            }
        }
        // End inner
    }
}