.video-rating {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5rem;

    &__star {
        display: flex;
        
        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.video-rating--xl {
    padding: 1rem 2rem;
    grid-gap: 1.5rem;

    .video-rating {
        &__star {
            width: 1.6rem;
            height: 1.5rem;
        }
    }
    // End inner
}

.video-rating--l {
    padding: .5rem .9rem;
    grid-gap: .9rem;

    .video-rating {
        &__star {
            width: 0.9rem;
            height: 0.9rem;
        }
    }
    // End inner
}

@include media-1580 {
    .video-rating--xl {
        padding: .8rem 1rem .9rem;
        grid-gap: .8rem;

        .video-rating {
            &__star {
                width: 1.1rem;
                height: 1rem;
            }
        }
        // End inner
    }
}

@include media-959 {
    .video-rating--xl {
        padding: .6rem 1rem;
        grid-gap: .6rem;

        .video-rating {
            &__star {
                width: .9rem;
                height: .8rem;
            }
        }
        // End inner
    }
}

@include media-639 {
    .video-rating--xl, .video-rating--l {
        grid-gap: .4rem;
    }
}