.header {
    width: 100%;
    padding: .7rem 1rem .8rem;
    position: relative;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left-wr {
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }

    &__logo {
        width: 11.89rem;
        height: 2.4rem;

        svg {
            @include square(100%)
        }
    }

    &__part-title {
        width: 11.7rem;
        height: 1.2rem;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__buttons-wr {
        margin: 0 3rem 0 auto;
        // position: relative;
    }

    &__login-btn, &__join-btn {
        display: none;
    }

    &__hamburger {
        width: 2.3rem;
        height: 2rem;
        svg {
            @include square(100%);
        }
    }
}
// End inner

@include media-M {
    .header {
        padding: .7rem 1rem .55rem;
    
        &__left-wr {
            gap: .5rem;
        }
    
        &__logo {
            width: 14.9rem;
            height: 3rem;
        }
    
        &__part-title {
            width: 14.8rem;
            height: 1.5rem;
            margin-left: 0.1rem;
        }
    
        &__buttons-wr {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 0 0 auto;
        }
    
        &__login-btn {
            display: flex;
            margin-inline: 3rem 2.77rem;
        }
        
        &__join-btn {
            display: block;
            font-size: 1.6rem;
            line-height: 150%;
            font-weight: 500;
            padding: .5rem 2rem;
        }
    
        &__hamburger {
            display: none;
        }
    }
    // End inner
}
// End M

@include media-L {
    .header {
        padding: 1rem;
    
        &__left-wr {
            flex-direction: row;
            align-items: flex-end;
            gap: 1rem;
        }
    
        &__logo {
            width: 19.9rem;
            height: 4rem;
        }
    
        &__part-title {
            width: 16.1rem;
            height: 1.6rem;
            margin: 0 0 0.7rem;
        }
    
        &__login-btn {
            margin-inline: 4rem 3.77rem;
        }
        
        &__join-btn {
            padding: 1rem 4rem;
        }
    }
    // End inner
}
// End L

@include media-XL {
    .header {
        padding: 1.2rem 2rem;

    
        &__logo {
            width: 26.9rem;
            height: 5.4rem;
        }
    
        &__part-title {
            width: 21.5rem;
            height: 2.2rem;
            margin: 0 0 0.3rem;
        }
    
        &__login-btn {
            margin-inline: 6rem 5.77rem;
        }
        
        &__join-btn {
            padding: 1rem 8rem;
        }
    }
    // End inner
}
// End XL

@include media-XXL {
    .header {
        padding: 1.2rem 4rem;
    }
    // End inner
}
// End XXL